/* Base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 30px; /* Adjust based on the height of your navbar */
    
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-gap: 0;
    padding: 0;
}

.header {
    grid-area: header;
    background-color: #3d4570;
    padding: 20px;
    text-align: center;
}

/* New navbar styles */
.nav {
    width: 100%;
    background-color: #576c92;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    display: block;
    padding: 14px 20px;
    color: rgb(22, 22, 18);
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    background-color: rgb(186, 199, 196);
    color: #201f1f;
}

.main {
    grid-area: main;
    padding: 20px;
    background-color: #435586;
    font-style: oblique;
    color: aliceblue;
}

.footer {
    grid-area: footer;
    background-color: #3d4570;
    padding: 10px;
    text-align: center;
}

/* Flexbox gallery */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-container img {
    flex: 1 1 100%; /* Adjusted */
    max-width: 100%;
    height: auto;
}

/* Responsive styles */
@media (min-width: 768px) {
    .grid-container {
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
        grid-template-columns: 1fr 3fr;
    }

    .gallery-container img {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (min-width: 1024px) {
    .gallery-container img {
        flex: 1 1 calc(33.33% - 10px);
    }
}