.grid-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 4fr 4fr;
    grid-gap: 10px;
    background-color: #0a0a06;
    padding: 5px;
}

.header {
    grid-area: header;
    background-color: #ccc;
    padding: 20px;
}

.sidebar {
    grid-area: nav;
    background-color: #ddd;
    padding: 10px;
}

.content {
    grid-area: main;
    background-color: #eee;
    padding: 20px;
}

.footer {
    background-color: #ccc;
    color: rgb(19, 11, 11);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 2px;
}


.grid-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

#blue {
    grid-area: header;
    background-color: blue;
}

#green {
    grid-area: nav;
    background-color: green;
}

#yellow {
    grid-area: main;
    background-color: yellow;
}

#red {
    grid-area: footer;
    background-color: red;
}